/* Variables */
$raven:  #232323;
$primary-sunshine: #FFCC00;

/************************** Carousel ****************  */

.carousel-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1080px) {
    margin-top: 208px;
    .what-are-you-here-to {
      position: relative;
      padding-top: 40px;
      padding-bottom: 20px;
      margin-left: -41px;
      height: 80px;
      width: 162px;
      color: #232323;
      font-family: "Work Sans";
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.2px;
      line-height: 28px;
      text-align: left;

      .fw-light {
        font-weight: 400;
      }
    }
  }
  }
  /* @media (min-width: 1336px) {
    margin-top: 160px;
  } */
.wrapper {
  height: 430px;
  width: 1080px;
  min-width: 1080px;
  margin-top: 54px;
  left: -120px;
  position: relative;
  // opacity: 0.16;

  @media (min-width: 1080px) {
    .cell {
      flex-direction: column;
      box-sizing: border-box;
      height: 284px !important;
      width: 200px !important;

      border: 2px solid rgba(150, 150, 150, 0.08);
      border-radius: 8px;
      text-align: center;
      background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);

      .image-placeholder {
        height: 80px;
        width: 80px;
        border: lightgray 1px solid;
        text-align: center;
        .fa-images {
          font-size: 4rem;
        }
      }

      .item-title {
        // height: 72px;
        width: 124px;
        color: #232323;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.2px;
        line-height: 24px;
        text-align: center;
      }
      &:hover{
        background-color: $raven;
        color: $primary-sunshine;
      }
    }
    .swiper-button-prev {
      margin-left: -40px;
    }
    .swiper-button-next {
      margin-right: -40px;
    }
  }
}
.arrow {
  @media (min-width: 1080px) {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    color: white;
    &:hover {
      background-color: $primary-sunshine;
    }
  }
}


