<header>
  <div class="progress-status">
    <div class="bar"></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo" src="../../assets/images/1024px-MTN_Logo.svg.png" alt="logo">
      </a>
      <div class="links">
        <a href="#news" class="link1">Shop</a>
        <a href="#contact" class="link2">Products & Services</a>
        <a href="#about" class="link3">Help & Support</a>
      </div>
      <a href="javascript:void(0);" class="search"><i class="fas fa-search"></i></a>
      <a href="javascript:void(0);" class="burger" (click)="openMenu()">
        <i class="fa fa-bars"></i>
      </a>
    <!--   <div class="switch-field">
        <input type="radio" id="radio-one" name="switch-one" value="yes" checked/>
        <label for="radio-one">Personal</label>
        <input type="radio" id="radio-two" name="switch-one" value="no" />
        <label for="radio-two">Business</label>
      </div> -->

    </div>
  </nav>
</header>
