<header>
  <div class="progress-status">
    <div class="bar"></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo" src="../../assets/images/1024px-MTN_Logo.svg.png" alt="logo">
      </a>
      <div class="links">
        <a href="#news">Shop</a>
        <a href="#contact">Products & Services</a>
        <a href="#about">Help & Support</a>
      </div>
      <a href="javascript:void(0);" class="search"><i class="fas fa-search"></i></a>
      <a href="javascript:void(0);" class="burger" (click)="openMenu()">
        <i class="fa fa-bars"></i>
      </a>



    </div>
  </nav>
</header>
