/* Variables */
$raven:  #232323;
$primary-sunshine: #FFCC00;

:host{
  display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;


}


* {
  box-sizing: border-box;
}

.footer-container {
  margin-top: 4.375rem;
}

.swiper-slide-active {
  height: 35.25rem;
  width: 23rem;
  transform: scale(2);
  animation: ease;
  // animation-name: run;
  // animation-duration: 1s;
  background: linear-gradient(180deg, #373737 0%, #191919 100%);
  // border-bottom-width: 0px;
  border-bottom: 3px solid $primary-sunshine;
  box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.32);
  z-index: 990;
  margin-left: 6.25rem !important;
  margin-right: 6.25rem !important;
  @media (min-width: 1366px) {
    width: 26.5rem;
    height: 535.25rem;
  }
  @media (min-width: 1920px) {
    width: 26.5rem;
    height: 535.25rem;
  }
}

/* .swiper-slide-active:after {
  background-color: $primary-sunshine;
}
 */
.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 60%;
  width: 60%;

  color: #ddd;
}
.item-image .placeholder {
  border: 1px solid #979797;
  height: 6.25rem;
  width: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active .item-title {
  color: #f5f5f5;
}

.item-button a {
  display: none;
  font-size: 0.5625rem;
  color: #f5f5f5;
  font-family: "Work Sans";
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.swiper-slide-active .item-button a {
  display: block;
}

.swiper-button-prev {
  /* left: 53px;
  top: auto;
  position: inherit; */
  outline: none;
  @media (min-width: 1366px) {
    left: 4.875rem !important;
    // top: -5.625rem;
  }
  @media (min-width: 1920px) {

  }
}

.swiper-button-prev:after {
  content: "";
}
.swiper-button-next {
  /* right: -34px;
  top: auto;
  position: inherit;
  margin-left: auto;
  margin-right: 0.3125rem; */
  outline: none;
  @media (min-width: 1366px) {
    margin-right: 4.5rem;
    // top: -5.625rem;
  }
  @media (min-width: 1920px) {

    right: 2rem!important;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  @media (min-width: 1920px) {
    left: auto;
    // right: 19rem;
  }
}
.swiper-button-next:after {
  content: "";
}
