<!-- <app-navbar></app-navbar>
<div class="page-wrapper">
  <div class="d-block carousel-wrapper">
    <div class="row ">
      <div class="col-2"></div>
      <div class="col d-block">
        <div class="what-are-you-here-to">
          <span class="fw-light">What are you </span>here to do?</div>
      </div>

    </div>
  </div>



</div> -->

<main>
  <div id="picker" class="picker d-flex justify-content-center" #picker>
    <div class="cell" #cell>
      <div class="cell-content">Card 1</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 2</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 3</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 4</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 5</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 6</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 7</div>
    </div>
    <div class="cell" #cell>
      <div class="cell-content">Card 8</div>
    </div>
  </div>
</main>
